.card_container {
  display: flex;
  flex-wrap: wrap;

  .site-card-border-less-wrapper {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

.search_title {
  color: lightgrey;
  text-align: center;
  font-size: 32px;
  padding: 10px;
  background: rgb(0, 0, 0, 0.1);
  margin: 32px 0;
}