header {
  display: flex;
  justify-content: space-between;

  .logo {
    width: 175px;
    z-index: 9999;
  }
}

.ant-layout .ant-layout-header {
  line-height: initial;
}

.dropdown {
  display: flex;
  align-items: center;
}
