.container {
    max-width: 1048px;
    margin: auto;
    width: 100%;
    }

body {
    background: linear-gradient(to top, #032550 0%, #032541 calc(60%), transparent calc(105%)), url(https://image.tmdb.org/t/p/original/s16H6tpK2utvwDtzZ8Qy4qm5Emw.jpg) no-repeat top center;
    /*background-color: #032550;*/
    background-size: 100%;
    backdrop-filter: blur(25px);
    }

.app_welcome h1, p {
    margin: 0;
    padding: 5px;
    color: lightgrey;
    }

.app_welcome h1 {
    font-size: 28px;
    }

.app_welcome p {
    margin-bottom: 15px;
    font-size: 18px;
    }

.ant-layout .ant-layout-header, .ant-layout .ant-layout-footer {
    background: transparent;
    padding: 15px 0;
    }

.ant-layout .ant-layout-header {
    line-height: 0;
    }

.ant-layout-header {
    z-index: 99999;
    }